{% include "base.html" %}
{% block title %}
    <title>Brarie - Movies</title>
{% endblock title %}
{% block content %}
<table>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Age Rating</th>
    <th>Status</th>
    </tr>
    {% for Movie in movie_list %}
    <tr>
    <td>
    <a href="{% url 'movieapp:movie_detail' Movie.id %}">
    {{ Movie.title | truncatechars:20}} ({{ Movie.releaseDate.year }})</a>
    </td>
    <td>
    {{ Movie.description | truncatechars:25}}
    </td>
    <td>
    {{Movie.ageRating}}
    </td>
    <td>
    {% if Movie.status == 0 %}
    Unreleased
    {% elif Movie.status == 1 %}
    Theatrically Released
    {% elif Movie.status == 2 %}
    Digitally Released
    {% endif %}
    </td>
    </tr>
    {% endfor %}
</table> <hr/>
<input type="button" onclick="location.href='{% url 'movieapp:new_movie' %}';" value="New" />
{% endblock content %}